# Unix - Conda - Pip

We run commands in CLI, e.g., Terminal, but here we are using Jupyter Notebook to demonstrate:

1. Output from commands
2. That when experiementing or developing programs in the notebook, you can avoid switching tools.
3. That you can install pacakges in the beginning of the notebook (e.g., Sagemaker) so it's clear what packages are used.

## Unix commands

### Basics

For some of the basic commands, you can run use the cell to run it directly:

In [1]:
pwd # print working directory

'C:\\Users\\ebc15\\fourthbrain\\MLE-9\\assignments\\week-1-mle-basictools\\nb'

You always want to know "where you are" and how to look for help. Use `man` to display the user manual of any command that we can run on the terminal.

In [24]:
man pwd

SyntaxError: invalid syntax (505270967.py, line 1)

In [25]:
#man pwd # press ESC to exit 
#https://www.infoworld.com/article/3193969/10-unix-commands-every-mac-and-linux-user-should-know.html
#man means give definition according to manual
#https://www.codingem.com/python-how-to-document-functions/
import os
help(os.getcwd)

Help on built-in function getcwd in module nt:

getcwd()
    Return a unicode string representing the current working directory.

Further, cell magic `%%bash` turns a cell into a bash script where you can run multiple lines (See more cell/line magics [here](https://ipython.readthedocs.io/en/stable/interactive/magics.html)).

In [31]:
!%%bash pwd ls

'%%bash' is not recognized as an internal or external command,
operable program or batch file.

In [26]:
#%%bash
#pwd
#ls -lah # WE DO: What are those flags for?
os.getcwd()

'C:\\Users\\ebc15\\fourthbrain\\MLE-9\\assignments\\week-1-mle-basictools'

In [21]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F240-BF64

 Directory of C:\Users\ebc15\fourthbrain\MLE-9\assignments\week-1-mle-basictools

09/03/2022  03:25 PM    <DIR>          .
09/03/2022  03:25 PM    <DIR>          ..
09/03/2022  03:27 PM    <DIR>          dat
08/25/2022  06:22 PM             1,086 LICENSE
08/25/2022  06:22 PM    <DIR>          md
09/03/2022  04:14 PM    <DIR>          nb
08/25/2022  06:22 PM    <DIR>          pandas-sklearn-basics
08/25/2022  06:22 PM            12,293 README.md
               2 File(s)         13,379 bytes
               6 Dir(s)  153,631,076,352 bytes free

In [27]:
os.listdir('C:\\Users\\ebc15\\fourthbrain\\MLE-9\\assignments\\week-1-mle-basictools\\nb')

['.ipynb_checkpoints', 'dat', 'unix-conda-pip.ipynb']

In [23]:
os.listdir('C:\\Users\\ebc15\\fourthbrain')
#ls -l #https://www.infoworld.com/article/3193969/10-unix-commands-every-mac-and-linux-user-should-know.html
#-l option means list files in 'long' format
#-la option means combine all commands in one string (might be similar to os.pipe())
#-h option 'human readable'
#-a option lists all files

['MLE-9']

### Download a data file

Let's download some data from [Census Income Data Set](https://archive.ics.uci.edu/ml/datasets/Census+Income); but first we would like to make a new directory to store the data at the same level as `nb` directory.

In [28]:
#%%bash
#cd ..
#mkdir dat
# WE DO: make a new diretory called `dat` under the project root directory
os.chdir('..')

In [29]:
os.getcwd()

'C:\\Users\\ebc15\\fourthbrain\\MLE-9\\assignments'

In [30]:
os.chdir('C:\\Users\\ebc15\\fourthbrain\\MLE-9\\assignments\\week-1-mle-basictools')

In [10]:
os.mkdir("dat")

Let's confirm that we just created an empty directory `dat` using command `tree`. Not all command can be run in the cell directly, adding ! in front of command can do the trick:

In [5]:
!tree .. -L 2

..
├── LICENSE
├── README.md
├── dat
├── md
│   └── git-more.md
└── nb
    └── unix-conda-pip.ipynb

3 directories, 4 files

In [11]:
for root, dir, file in os.walk('..'):
    print("root is ",root,"---> dir is ",dir,"---> file is ",file)

root is  .. ---> dir is  ['week-1-mle-basictools', 'week-2-twitter-sentiment', 'week-3-reddit-sentiment'] ---> file is  []
root is  ..\week-1-mle-basictools ---> dir is  ['dat', 'md', 'nb', 'pandas-sklearn-basics'] ---> file is  ['LICENSE', 'README.md']
root is  ..\week-1-mle-basictools\dat ---> dir is  [] ---> file is  []
root is  ..\week-1-mle-basictools\md ---> dir is  [] ---> file is  ['git-more.md']
root is  ..\week-1-mle-basictools\nb ---> dir is  ['.ipynb_checkpoints', 'dat'] ---> file is  ['unix-conda-pip.ipynb']
root is  ..\week-1-mle-basictools\nb\.ipynb_checkpoints ---> dir is  [] ---> file is  ['unix-conda-pip-checkpoint.ipynb']
root is  ..\week-1-mle-basictools\nb\dat ---> dir is  [] ---> file is  []
root is  ..\week-1-mle-basictools\pandas-sklearn-basics ---> dir is  [] ---> file is  ['pandas-sklearn-basics.ipynb']
root is  ..\week-2-twitter-sentiment ---> dir is  ['data', 'nb'] ---> file is  ['imports.ipynb', 'LICENSE', 'README.md']
root is  ..\week-2-twitter-sentiment\data ---> dir is  [] ---> file is  ['elonmusk_tweets.csv']
root is  ..\week-2-twitter-sentiment\nb ---> dir is  [] ---> file is  ['analyze-sentiment-twitter.ipynb']
root is  ..\week-3-reddit-sentiment ---> dir is  ['.ipynb_checkpoints', 'LiveDemo'] ---> file is  ['imports.ipynb', 'README.md']
root is  ..\week-3-reddit-sentiment\.ipynb_checkpoints ---> dir is  [] ---> file is  ['imports-checkpoint.ipynb']
root is  ..\week-3-reddit-sentiment\LiveDemo ---> dir is  ['.ipynb_checkpoints'] ---> file is  ['APIDemo.ipynb', 'Fine_tune_a_pre_trained_model_for_sentiment_analysis.ipynb']
root is  ..\week-3-reddit-sentiment\LiveDemo\.ipynb_checkpoints ---> dir is  [] ---> file is  ['APIDemo-checkpoint.ipynb', 'Fine_tune_a_pre_trained_model_for_sentiment_analysis-checkpoint.ipynb']

In [5]:
import wget

In [6]:
# download a csv file
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data -O ../dat/adult.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [16]:
import pandas as pd
csv_file=pd.read_csv('C:\\Users\\ebc15\\fourthbrain\\MLE-9\\assignments\\week-1-mle-basictools\\dat\\adult.csv',header=None)

In [7]:
!tree .. -L 2 # check again

..
├── LICENSE
├── README.md
├── dat
│   └── adult.csv
├── md
│   └── git-more.md
└── nb
    └── unix-conda-pip.ipynb

3 directories, 5 files

In [13]:
for root, dir, file in os.walk('..'):
    print("root is ",root,"---> dir is ",dir,"---> file is ",file)

root is  .. ---> dir is  ['week-1-mle-basictools', 'week-2-twitter-sentiment', 'week-3-reddit-sentiment'] ---> file is  []
root is  ..\week-1-mle-basictools ---> dir is  ['dat', 'md', 'nb', 'pandas-sklearn-basics'] ---> file is  ['LICENSE', 'README.md']
root is  ..\week-1-mle-basictools\dat ---> dir is  [] ---> file is  ['adult.csv']
root is  ..\week-1-mle-basictools\md ---> dir is  [] ---> file is  ['git-more.md']
root is  ..\week-1-mle-basictools\nb ---> dir is  ['.ipynb_checkpoints', 'dat'] ---> file is  ['unix-conda-pip.ipynb']
root is  ..\week-1-mle-basictools\nb\.ipynb_checkpoints ---> dir is  [] ---> file is  ['unix-conda-pip-checkpoint.ipynb']
root is  ..\week-1-mle-basictools\nb\dat ---> dir is  [] ---> file is  []
root is  ..\week-1-mle-basictools\pandas-sklearn-basics ---> dir is  [] ---> file is  ['pandas-sklearn-basics.ipynb']
root is  ..\week-2-twitter-sentiment ---> dir is  ['data', 'nb'] ---> file is  ['imports.ipynb', 'LICENSE', 'README.md']
root is  ..\week-2-twitter-sentiment\data ---> dir is  [] ---> file is  ['elonmusk_tweets.csv']
root is  ..\week-2-twitter-sentiment\nb ---> dir is  [] ---> file is  ['analyze-sentiment-twitter.ipynb']
root is  ..\week-3-reddit-sentiment ---> dir is  ['.ipynb_checkpoints', 'LiveDemo'] ---> file is  ['imports.ipynb', 'README.md']
root is  ..\week-3-reddit-sentiment\.ipynb_checkpoints ---> dir is  [] ---> file is  ['imports-checkpoint.ipynb']
root is  ..\week-3-reddit-sentiment\LiveDemo ---> dir is  ['.ipynb_checkpoints'] ---> file is  ['APIDemo.ipynb', 'Fine_tune_a_pre_trained_model_for_sentiment_analysis.ipynb']
root is  ..\week-3-reddit-sentiment\LiveDemo\.ipynb_checkpoints ---> dir is  [] ---> file is  ['APIDemo-checkpoint.ipynb', 'Fine_tune_a_pre_trained_model_for_sentiment_analysis-checkpoint.ipynb']

### Inspect data

Let's inspect first 10 lines of data:

In [8]:
!head ../dat/adult.csv

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K
38, Private, 215646, HS-grad, 9, Divorced, Handlers-cleaners, Not-in-family, White, Male, 0, 0, 40, United-States, <=50K
53, Private, 234721, 11th, 7, Married-civ-spouse, Handlers-cleaners, Husband, Black, Male, 0, 0, 40, United-States, <=50K
28, Private, 338409, Bachelors, 13, Married-civ-spouse, Prof-specialty, Wife, Black, Female, 0, 0, 40, Cuba, <=50K
37, Private, 284582, Masters, 14, Married-civ-spouse, Exec-managerial, Wife, White, Female, 0, 0, 40, United-States, <=50K
49, Private, 160187, 9th, 5, Married-spouse-absent, Other-service, Not-in-family, Black, Female, 0, 0, 16, Jamaica, <=50K
52, Self-emp-not-inc, 209642, HS-grad, 9, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 45, United-States, >50K
31, Private, 45781, Masters, 14, Never-married, Prof-specialty, Not-in-family, White, Female, 14084, 0, 50, United-States, >50K
42, Private, 159449, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 5178, 0, 40, United-States, >50K

In [17]:
csv_file.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

How about the last 3 lines? ( wait, I only see 2 lines. what's wrong? )

In [9]:
!tail -n 3 ../dat/adult.csv

22, Private, 201490, HS-grad, 9, Never-married, Adm-clerical, Own-child, White, Male, 0, 0, 20, United-States, <=50K
52, Self-emp-inc, 287927, HS-grad, 9, Married-civ-spouse, Exec-managerial, Wife, White, Female, 15024, 0, 40, United-States, >50K

In [18]:
csv_file.tail(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

How many records are there?

In [10]:
!wc -l ../dat/adult.csv

   32562 ../dat/adult.csv

In [19]:
csv_file.describe()

,0,2,4,10,11,12
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

Challenge: how many columns are there?

In [11]:
!head -1 ../dat/adult.csv | sed 's/[^,]//g' | wc -c

      15

In [22]:
csv_file.columns #There are 15 columns.

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

## Conda: environment manager + package manager

You might have heard about Anaconda / Miniconda / Miniforge:

- What is the difference between `conda` and `miniconda`? [An answer](https://stackoverflow.com/questions/45421163/anaconda-vs-miniconda).
- What is the difference between `miniconda` and `miniforge`? [An answer](https://stackoverflow.com/questions/60532678/what-is-the-difference-between-miniconda-and-miniforge).

Though Conda is considered both a package manager and an environment manager, we  focus on using it as the environment manager, and use `pip` as the package manager.

Miniconda is a subset of conda. Miniconda requires individual installation of packages. 
Miniconda and Miniforge have different license requirements. Miniconda's license requirement is less flexible.

### Installation

First, install `miniconda` (Feel free to skip if you have already installed it, or any flavor of conda).

Run the following commands in terminal to download the lastest Miniconda distribution and install it (Mac Intel Book). 

    ```
    cd ~
    wget https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
    bash Miniconda3-latest-MacOSX-x86_64.sh
    ```

For M1 chip, install `miniforge` instead. If you are new to `brew`, following instructions [here](https://brew.sh) to install Homebrew first:

    ```
    brew install miniforge
    ```

Outputs from these installations are rather long, so we ask you to run it in a terminal window instead.

Confirm that the installation is successful:

In [1]:
%%bash
which conda  # where the executable conda is in my path?
conda -V     # which version of conda?
which python # where the executable python is in my path?
python -V    # what version of python?

/usr/local/Caskroom/miniforge/base/bin/conda
conda 4.12.0
/usr/local/Caskroom/miniforge/base/bin/python
Python 3.9.10

### Create a new env

Create a new conda environment named `py39_12` where you specify a python version to be 3.9.12. Note the last flag `--yes` to skip the confirmation prompt.

In [2]:
!conda create --name py39_12 python=3.9.12 --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /usr/local/Caskroom/miniforge/base/envs/py39_12

  added / updated specs:
    - python=3.9.12


The following NEW packages will be INSTALLED:

  bzip2              conda-forge/osx-64::bzip2-1.0.8-h0d85af4_4
  ca-certificates    conda-forge/osx-64::ca-certificates-2021.10.8-h033912b_0
  libffi             conda-forge/osx-64::libffi-3.4.2-h0d85af4_5
  libzlib            conda-forge/osx-64::libzlib-1.2.11-h6c3fc93_1014
  ncurses            conda-forge/osx-64::ncurses-6.3-h96cf925_1
  openssl            conda-forge/osx-64::openssl-3.0.2-h6c3fc93_1
  pip                conda-forge/noarch::pip-22.0.4-pyhd8ed1ab_0
  python             conda-forge/osx-64::python-3.9.12-h1cc4136_1_cpython
  python_abi         conda-forge/osx-64::python_abi-3.9-2_cp39
  readline           conda-forge/osx-64::readline-8.1-h05e3726_0
  setuptools         conda-forge/osx-64::setuptools-62.1.0-py39h6e9494a_0
  sqlite             conda-forge/osx-64::sqlite-3.38.2-hb516253_0
  tk                 conda-forge/osx-64::tk-8.6.12-h5dbffcc_0
  tzdata             conda-forge/noarch::tzdata-2022a-h191b570_0
  wheel              conda-forge/noarch::wheel-0.37.1-pyhd8ed1ab_0
  xz                 conda-forge/osx-64::xz-5.2.5-haf1e3a3_1
  zlib               conda-forge/osx-64::zlib-1.2.11-h6c3fc93_1014


Preparing transaction: done
Verifying transaction: done
Executing transaction: done
#
# To activate this environment, use
#
#     $ conda activate py39_12
#
# To deactivate an active environment, use
#
#     $ conda deactivate

In [23]:
!conda create --name py39_12 python=3.9.12 --yes

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\ebc15\anaconda3\envs\py39_12

  added / updated specs:
    - python=3.9.12


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2022.6.15          |   py39haa95532_0         153 KB
    pip-22.1.2                 |   py39haa95532_0         2.5 MB
    setuptools-63.4.1          |   py39haa95532_0         1.0 MB
    ------------------------------------------------------------
                                           Total:         3.7 MB

The following NEW packages will be INSTALLED:

  ca-certificates    pkgs/main/win-64::ca-certificates-2022.07.19-haa95532_0
  certifi            pkgs/main/win-64::certifi-2022.6.15-py39haa95532_0
  openssl            pkgs/main/win-64::openssl-1.1.1q-h2bbff1b_0
  pip                pkgs/main/win-64::pip-22.1.2-py39haa95532_0
  python             pkgs/main/win-64::python-3.9.12-h6244533_0
  setuptools         pkgs/main/win-64::setuptools-63.4.1-py39haa95532_0
  sqlite             pkgs/main/win-64::sqlite-3.39.2-h2bbff1b_0
  tzdata             pkgs/main/noarch::tzdata-2022a-hda174b7_0
  vc                 pkgs/main/win-64::vc-14.2-h21ff451_1
  vs2015_runtime     pkgs/main/win-64::vs2015_runtime-14.27.29016-h5e58377_2
  wheel              pkgs/main/noarch::wheel-0.37.1-pyhd3eb1b0_0
  wincertstore       pkgs/main/win-64::wincertstore-0.2-py39haa95532_2



Downloading and Extracting Packages

pip-22.1.2           | 2.5 MB    |            |   0%
pip-22.1.2           | 2.5 MB    | #9         |  19%
pip-22.1.2           | 2.5 MB    | ######2    |  62%
pip-22.1.2           | 2.5 MB    | ########## | 100%
pip-22.1.2           | 2.5 MB    | ########## | 100%

certifi-2022.6.15    | 153 KB    |            |   0%
certifi-2022.6.15    | 153 KB    | ########## | 100%
certifi-2022.6.15    | 153 KB    | ########## | 100%

setuptools-63.4.1    | 1.0 MB    |            |   0%
setuptools-63.4.1    | 1.0 MB    | ########   |  81%
setuptools-63.4.1    | 1.0 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
#
# To activate this environment, use
#
#     $ conda activate py39_12
#
# To deactivate an active environment, use
#
#     $ conda deactivate

Retrieving notices: ...working... done

In [24]:
# YOU CODE HERE 
# list all environments in conda
!conda env list

# conda environments:
#
base                  *  C:\Users\ebc15\anaconda3
py39_12                  C:\Users\ebc15\anaconda3\envs\py39_12
sa                       C:\Users\ebc15\anaconda3\envs\sa

You shall see something like this:
```
# conda environments:
#
                         /Users/flora/miniforge3
                         /Users/flora/miniforge3/envs/tf38
base                  *  /usr/local/Caskroom/miniforge/base
py39                     /usr/local/Caskroom/miniforge/base/envs/py39
py39_12                  /usr/local/Caskroom/miniforge/base/envs/py39_12
```

### Activate an env

By default, you are under the `base` environment, to activate the new environement, run `conda activate py39_12` in terminal.

If you are using VS code, click on the top right button to switch python kernel. You will be prompted to install `ipykernel`, follow the instructions to install the package. Or you can run `source activate`, followed by 
`conda activate /usr/local/Caskroom/miniforge/base/envs/py39_12` in a cell. 

If you are using jupyter notebook on a localhost (by defaut 8888), you can restart the jupyter notebook after activating the new environment.

Now verify the python version:

In [1]:
%%bash

python --version
which python
conda env list

Python 3.9.12
/usr/local/Caskroom/miniforge/base/envs/py39_12/bin/python
# conda environments:
#
                         /Users/flora/miniforge3
                         /Users/flora/miniforge3/envs/tf38
base                     /usr/local/Caskroom/miniforge/base
py39                     /usr/local/Caskroom/miniforge/base/envs/py39
py39_12               *  /usr/local/Caskroom/miniforge/base/envs/py39_12

In [8]:
!python --version

Python 3.9.12

In [9]:
!which python

/c/Users/ebc15/anaconda3/python

In [10]:
!conda env list

# conda environments:
#
base                  *  C:\Users\ebc15\anaconda3
py39_12                  C:\Users\ebc15\anaconda3\envs\py39_12
sa                       C:\Users\ebc15\anaconda3\envs\sa

For some reason jupyter notebook is not launchable in anything except base environment.

<details>
<summary>Click to see how to add the Conda env to you jupyter notebook kernels</summary>

```
pip install ipykernel
python -m ipykernel install --user --name=py39_12
```

Next time you launch jupyter notebook, you will see `py39_12` as an option under Kernel/Change kernel.
</details>

### Delete an env

To keep a lean list of environments, we want to prune unused environements from time to time. Simply do the following
```
conda remove --name old_env --all --yes
```

## Pip: python package manager

We recommend to use pip as your python package installer/manager [(fun read on pip vs conda.)](https://stackoverflow.com/questions/20994716/what-is-the-difference-between-pip-and-conda) Note you don't have install pip explictly since it was done during the installation of miniconda/miniforge.

In [2]:
!which pip

/usr/local/Caskroom/miniforge/base/envs/py39_12/bin/pip

In [11]:
!which pip

/c/Users/ebc15/anaconda3/Scripts/pip

### Install package

We can certainly run `pip` commands the same way as earlier. Just for fun, let's try Jupyter line magic `%pip`. 

First make sure that we would like to have the most recent version of `pip` installed.

In [3]:
%pip install --upgrade pip

Requirement already satisfied: pip in /Users/flora/miniforge3/envs/tf38/lib/python3.8/site-packages (22.0.4)
Note: you may need to restart the kernel to use updated packages.

In [12]:
%pip install --upgrade pip

Requirement already satisfied: pip in c:\users\ebc15\anaconda3\lib\site-packages (21.2.4)
Collecting pip
  Using cached pip-22.2.2-py3-none-any.whl (2.0 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.2.4
    Uninstalling pip-21.2.4:
      Successfully uninstalled pip-21.2.4
Successfully installed pip-22.2.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
%pip install numpy pandas

Collecting numpy
  Downloading numpy-1.22.3-cp38-cp38-macosx_11_0_arm64.whl (12.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 6.3 MB/s eta 0:00:0000:0100:01
Collecting pandas
  Downloading pandas-1.4.2-cp38-cp38-macosx_11_0_arm64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 6.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pytz>=2020.1 in /Users/flora/miniforge3/envs/tf38/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/flora/miniforge3/envs/tf38/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/flora/miniforge3/envs/tf38/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.22.3 pandas-1.4.2
Note: you may need to restart the kernel to use updated packages.

In [13]:
%pip install numpy pandas

Requirement already satisfied: numpy in c:\users\ebc15\anaconda3\lib\site-packages (1.23.2)
Requirement already satisfied: pandas in c:\users\ebc15\anaconda3\lib\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ebc15\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ebc15\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ebc15\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Now you can use these packages:

In [14]:
# allow multiple outputs in a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [15]:
import numpy as np

# create a numpy array with random numbers
x = np.random.rand(10)
x.shape
x.reshape((5,-1))

(10,)

array([[0.24552839, 0.12383602],
       [0.33871814, 0.00403256],
       [0.56480086, 0.01305386],
       [0.71139769, 0.54988104],
       [0.64283466, 0.78078683]])

In [16]:
%precision 3
x.reshape((5,-1))

'%.3f'

array([[0.246, 0.124],
       [0.339, 0.004],
       [0.565, 0.013],
       [0.711, 0.55 ],
       [0.643, 0.781]])

In [18]:
import pandas as pd
census_df = pd.read_csv('C:\\Users\\ebc15\\fourthbrain\\MLE-9\\assignments\\week-1-mle-basictools\\dat\\adult.csv',header=None)
census_df.head()
census_df.tail()
census_df.shape

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

(32561, 15)

### Uninstall packages

In [19]:
# Uninstall a package
%pip uninstall numpy pandas --yes

Found existing installation: numpy 1.23.2
Uninstalling numpy-1.23.2:
  Successfully uninstalled numpy-1.23.2
Note: you may need to restart the kernel to use updated packages.

ERROR: Exception:
Traceback (most recent call last):
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_internal\cli\base_command.py", line 167, in exc_logging_wrapper
    status = run_func(*args)
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_internal\commands\uninstall.py", line 103, in run
    uninstall_pathset.commit()
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_internal\req\req_uninstall.py", line 424, in commit
    self._moved_paths.commit()
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_internal\req\req_uninstall.py", line 277, in commit
    save_dir.cleanup()
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_internal\utils\temp_dir.py", line 173, in cleanup
    rmtree(self._path)
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_vendor\tenacity\__init__.py", line 326, in wrapped_f
    return self(f, *args, **kw)
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_vendor\tenacity\__init__.py", line 406, in __call__
    do = self.iter(retry_state=retry_state)
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_vendor\tenacity\__init__.py", line 362, in iter
    raise retry_exc.reraise()
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_vendor\tenacity\__init__.py", line 195, in reraise
    raise self.last_attempt.result()
  File "C:\Users\ebc15\anaconda3\lib\concurrent\futures\_base.py", line 439, in result
    return self.__get_result()
  File "C:\Users\ebc15\anaconda3\lib\concurrent\futures\_base.py", line 391, in __get_result
    raise self._exception
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_vendor\tenacity\__init__.py", line 409, in __call__
    result = fn(*args, **kwargs)
  File "C:\Users\ebc15\anaconda3\lib\site-packages\pip\_internal\utils\misc.py", line 128, in rmtree
    shutil.rmtree(dir, ignore_errors=ignore_errors, onerror=rmtree_errorhandler)
  File "C:\Users\ebc15\anaconda3\lib\shutil.py", line 757, in rmtree
    return _rmtree_unsafe(path, onerror)
  File "C:\Users\ebc15\anaconda3\lib\shutil.py", line 622, in _rmtree_unsafe
    _rmtree_unsafe(fullname, onerror)
  File "C:\Users\ebc15\anaconda3\lib\shutil.py", line 627, in _rmtree_unsafe
    onerror(os.unlink, fullname, sys.exc_info())
  File "C:\Users\ebc15\anaconda3\lib\shutil.py", line 625, in _rmtree_unsafe
    os.unlink(fullname)
PermissionError: [WinError 5] Access is denied: 'C:\\Users\\ebc15\\anaconda3\\Lib\\site-packages\\~-mpy\\.libs\\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll'

In [20]:
%pip cache purge

Files removed: 205
Note: you may need to restart the kernel to use updated packages.